* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: powderblue;
}

.HeaderAndNav .Header {
    width: 100%;
    height: 65px;
    background: #453F8F;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderAndNav .Header .left {
    display: flex;
    align-items: center;
}

img {
    max-width: 30%;
    max-height: 30%;
}

.HeaderAndNav .Nav {
    width: 100%;
    background: #f9f9f9;
    height: 45px;
    padding: 0 50px;
}